<div id="category-menu" class="category-box">
  <% @categories.each do |category| %>
    <%= form_with(url: users_path, method: :get, data: { turbo_frame: 'users_list_div' }, local: true) do %>
      <%= hidden_field_tag :category, category %>
      <button type="submit" class="<%= @selected_category == category ? 'btn-white-select' : 'btn-white' %>">
        <span><%= category %></span>
      </button>
    <% end %>
  <% end %>
</div>